NEXTAUTH_URL=http://localhost:3000
HOME_URL=http://localhost:3000
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
SECRET=your_super_secret

AUTH_GOOGLE_ID ="your_google_client_id"
AUTH_GOOGLE_SECRET="your_google_client_secret"

AUTH_GITHUB_ID="your_github_client_id"
AUTH_GITHUB_SECRET="your_github_client_secret"

AUTH_SECRET="your_auth_client_secret"
AUTH_DEBUG="true"

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

# DATABASE
NEXT_PUBLIC_POSTGRES_SUPABASE_ANON_KEY=""
POSTGRES_SUPABASE_PUBLISHABLE_KEY=""
NEXT_PUBLIC_POSTGRES_SUPABASE_URL=""
POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_PRISMA_URL=""
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
NEXT_PUBLIC_POSTGRES_SUPABASE_ANON_KEY=""
POSTGRES_SUPABASE_JWT_SECRET=""
POSTGRES_SUPABASE_PUBLISHABLE_KEY=""
POSTGRES_SUPABASE_SECRET_KEY=""
POSTGRES_SUPABASE_SERVICE_ROLE_KEY=""
NEXT_PUBLIC_POSTGRES_SUPABASE_URL=""

# This was inserted by `prisma init`:
# Environment variables declared in this file are NOT automatically loaded by Prisma.
# Please add `import "dotenv/config";` to your `prisma.config.ts` file, or use the Prisma CLI with Bun
# to load environment variables from .env files: https://pris.ly/prisma-config-env-vars.

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# The following `prisma+postgres` URL is similar to the URL produced by running a local Prisma Postgres
# server with the `prisma dev` CLI command, when not choosing any non-default ports or settings. The API key, unlike the
# one found in a remote Prisma Postgres URL, does not contain any sensitive information.

# DATABASE_URL="prisma+postgres://localhost:51213/?api_key=..."
DATABASE_URL=""