NEXTAUTH_URL=http://localhost:3000
# Linux: `openssl rand -hex 32` or go to https://generate-secret.now.sh/32
SECRET=generate_new_from_https://generate-secret.now.sh/32

AUTH_GOOGLE_ID ="your_google_id"
AUTH_GOOGLE_SECRET="your_google_secret"

AUTH_GITHUB_ID="your_github_id"
AUTH_GITHUB_SECRET="your_github_secret"

AUTH_SECRET="your_secret"
AUTH_DEBUG="true"

EMAIL_SERVER=smtp://username:password@smtp.example.com.com:587
EMAIL_FROM=NextAuth <noreply@example.com>

